@font-face { font-family: 'LatoLight'; src: url('../fonts/Lato-Light.ttf'); }
@font-face { font-family: 'LatoRegular'; src: url('../fonts/Lato-Regular.ttf'); }
@font-face { font-family: 'LatoBold'; src: url('../fonts/Lato-Bold.ttf'); }
@font-face { font-family: 'LatoBlack'; src: url('../fonts/Lato-Black.ttf'); }
.lato-light { font-family: 'LatoLight'; }
.lato-regular { font-family: 'LatoRegular'; }
.lato-bold { font-family: 'LatoBold'; }
.lato-black { font-family: 'LatoBlack'; }

body {
    margin-top:50px;
    background-image: url('../img/bg.png');
    font-size: 14px;
}
div {
    position: relative;
}
.box {
    background-color:#FFF;
}
.box .inner {
    padding: 15px;
}
.wp33 { width: 32.4%; }
.wp50 { width: 49.3%; }
.wp66 { width: 66.2%; }
.hf170 { height: 170px; }
.hf200 { height: 200px; }
.hf250 { height: 250px; }
.hf300 { height: 300px; }
.hf430 { height: 430px; }
.label {
    margin-right: 10px;
    padding: 2px 7px;
    background-color: #E9E9E9;
    color: #7D7D7D;
    font: normal 12px 'LatoBold';
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}
.center { text-align: center; }
.float { float: left; }
.clear { clear: both; }
#main {
    width: 70%;
    margin: auto;
}
#logo {
    position: absolute;
    top: -50px;
    right: 0;
    font-size: 14px;
    background-color: #3A351F;
}
#logo a {
    display: block;
    padding: 7px;
    color: #F0EEE3;
    text-decoration: none;
    transition: background-color 250ms linear;
}
#logo a:hover {
    background-color: #232012;
}
#navi {
    z-index: 999;
    float: left;
    width: 130px;
    top: -19px;
    text-align: right;
    white-space: pre-line;
}
#navi a {
    display: inline-block;
    margin: 2px 0;
    padding: 6px 12px;
    font-family: 'LatoBold';
    font-size: 14px;
    background-color: #0D4D4D;
    color: #FFF;
    text-decoration: none;
    transition: background-color 250ms, padding-right 80ms ease-out;
}
#navi a i {
    margin-left: 6px;
}
#navi a:hover, #navi .active {
    background-color: #092837;
    padding-right: 15px;
}
#content {
    padding-left:150px;
}
#content .headinfo {
    color: #777;
    font-size: 14px;
}
#content .box {
    margin: 0 1.4% 1.4% 0;
    line-height: 24px;
}
#content .box .key {
    padding: 60px 0 0;
    text-align: center;
}
.key .number {
    font: normal 33px 'LatoLight';
}
.key i {
    margin-left: 6px;
    color: #9E9E9E;
}
.key .title {
    display: inline-block;
    margin-top: 20px;
    font: normal 16px 'LatoBlack';
}
#content .nmright {
    margin-right: 0;
}
#topFoldersFiles ul {
    padding-left: 15px;
}
#topFoldersFiles li {
    color: #4C4C4C;
    font-size: 13px;
    line-height: 29.5px;
    list-style-type: none;
}
#topFoldersFiles li .label {
    padding: 3px 10px;
    border: none;
    color: #FFF;
}
#topFoldersFiles li .label-1 { background-color: #354F5D; }
#topFoldersFiles li .label-2 { background-color: #34B39E; }
#topFoldersFiles li .label-3 { background-color: #E1584D; }
#topFoldersFiles li .label-4 { background-color: #EEA19B; }
#topFoldersFiles li .label-5 { background-color: #BCBCBC; }
#content .box .fsize {
    padding: 32px 0;
    border-bottom: 1px solid #C5C5C5;
}
#content .box .fsize:last-child {
    border: none;
}
.fsize .number {
    font-size: 30px;
}
.fsize .title {
    margin-top: 5px;
    font: normal 16px 'LatoRegular';
    color: #4C4C4C;
}
#topFilesLastMod ul {
    padding-left: 0px;
}
#topFilesLastMod li {
    color: #4C4C4C;
    font-size: 13px;
    line-height: 26px;
    list-style-type: none;
}
#topFilesLastMod .label-title {
    background-color: #354F5D;
    color: #FFF;
}
#topFilesLastMod .label-date {
    margin-right: 3px;
}
#topFilesLastMod .label-time {
    margin-right: 3px;
}
#topFilesLastMod .label-owner {
    margin-right: 10px;
}
.path-start {
    color: #848484;
}
.path-end {
    font-family: 'LatoBold';
    color: #484848;
}